<div class="Login">
  <div class="containerform">
    <div class="form">
      <form class="login-form">
        <h3>Autorization</h3>
        {{title}}
        <input type="text" [(ngModel)]="emails" placeholder="Email" [ngModelOptions]="{standalone: true}"
        [ngStyle]="{border:emailRequire == 0?'1px solid white':'1px solid red'}"/><br>
        <input type="password" [(ngModel)]="password"
        [ngStyle]="{border:passwordRequire == 0?'1px solid white':'1px solid red'}" [ngModelOptions]="{standalone: true}"
               placeholder="Password"/>
        <button (click)="signIn()" [ngStyle]="{background:button == 0?'royalblue':'red'}">
          <span *ngIf="loading; else spiner">Login</span>
          <ng-template #spiner>
            <div class="spinnerLoginRagistration" ></div>
          </ng-template>
        </button>
        <p class="message">
          Not registred?
          <a href="/registration">
            Create account
          </a>
        </p>
      </form>
    </div>
  </div>
</div>
<div class="allErrors" [ngStyle]="{opacity:allEroors==0?'0':'1'}">
  <ul>
    <li *ngFor="let one of error">
      {{one}}
    </li>
  </ul>
</div>
<div class="modallogin" *ngIf="ok==0?false:true">
  <div>
    Created
  </div>
</div>
